@font-face {
  font-family: showCard;
  src: url(../src/SHOWG.TTF);
}

body {
  background-image: url("../src/bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  overflow:hidden;
}
/*
body::after{
   position:absolute; width:0; height:0; overflow:hidden; z-index:-1; // hide images
   content:url("../src/fl_surprised.png");   // load images
}*/

#top-container {
  position:absolute;
  width:100%;
  margin:auto;
  top:6%;
  text-align:center;
}

#clock-container {
  top:0;
  font-family:showCard;
  color:white;
}

#clock {
  font-size:14vh;
  text-shadow: -2px 0 #607b91,0 -2px #607b91,2px 0 #607b91,
  0 2px #607b91,5px 5px #607b91,5px 0px #607b91,0px 5px #607b91;
}

#date {
  margin-top:-2vh;
  font-size:5vh;
  text-shadow: -1px 0 #607b91,0 -1px #607b91,1px 0 #607b91,
  0 1px #607b91,3px 3px #607b91,3px 0px #607b91,0px 3px #607b91;
}


.topright {
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
}

.topLeft {
  position: absolute;
  top: 8px;
  left: 4px;
  font-size: 18px;
  cursor:pointer;
}

#setting{
width:50px;
height:50px;
cursor:pointer;
opacity:0.8;
transition:0.3s;
}

#setting:hover {
  opacity:1;
}

#logo{
  width:110px;
  height:75px;
  cursor:pointer;
  opacity:0.8;
transition:0.3s;
}

#logo:hover {
  opacity:1;
}

/*------------------------------mid-----------------------------------*/

#bottom-container {
  position:absolute;
  width:100%;
  margin:auto;
  bottom:10%;
  text-align:center;
}
#flower-container {
  margin:auto;
  display:inline-block;
  /* cursor:pointer; */
  cursor: url("../src/water.png"), pointer;
  transition:0.1s;
}
#flower-container:hover {
  opacity:1;
  	
}
#flower-container:hover #flower {
  content:url("../src/fl_surprised.png");
}
#flower-container:active {
  opacity:1;
  cursor: url("../src/water2.png"), pointer;
}
#flower {
  display:block;
  height:40vh;
  margin:auto;
}



#progress-bar {
  padding:0 28%;
}
#progress {
  width: 0%;
  height: 5vh;
  background-color: #b1ebf0;
  /*background-image: linear-gradient(to left, #a6dbe3, #b1ebf0);*/
  text-align: center;
  line-height: 5vh;
  color: white;
  border-radius:2rem 0 0 2rem;
  transition:0.2s;

}
.spacing {
  height:5vh;
}
#bar {
  width: 100%;
  background-color: #FFF;
  border-radius:2rem;
  overflow:hidden;
  box-shadow: 3px 3px 4px #61a125;
}

#progress-text {
  font-family: showCard;
  left: 0px;
  width: 100%;
  color:#fff;
  position:absolute; 
  line-height:0;
  bottom:2.5vh;
  font-size:3vh;  
  text-shadow: -1px 0 #607b91,0 -1px #607b91,1px 0 #607b91,
  0 1px #607b91,3px 3px #607b91,3px 0px #607b91,0px 3px #607b91;
}


.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: rgb(148, 199, 194);
  overflow-x: hidden;
  padding-top: 60px;
  transform: translateX(400px);
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 35px;
  color: #818181;
  display: block;
  transition: color 0.3s;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 46px;
  margin-left: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

.setting-form{
  margin-left: 20px;
  margin-right: 20px;
  font-family:showCard;
  color:white;
  text-shadow: -2px 0 #7693A9,0 -2px #7693A9,2px 0 #7693A9,
  0 2px #7693A9,5px 5px #7693A9,5px 0px #7693A9,0px 5px #7693A9;
}

.setting-form label {
  text-shadow: -2px 0 #7693A9,0 -2px #7693A9,2px 0 #7693A9,
  0 2px #7693A9,3px 3px #7693A9,3px 0px #7693A9,0px 3px #7693A9;
  padding-right:10px;
}

select{
  display: block;
    font-size: 16px;
    font-family: sans-serif;
    font-weight: 700;
    color: #444;
    line-height: 1.3;
    padding: .6em 1.4em .5em .8em;
    width: 60%;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.04);
    border-radius: .5em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    cursor:pointer;
   
}
#saveButton{
  background: #607b91;
  border: none;
  color: white;
  font-size: 20px;
  width: 70%;
  padding: 18px 20px;
  margin-left:15%;
  margin-right:15%;
  margin-bottom: 15px;
  border-radius:0.3em;
  cursor:pointer;
  transition: background 0.2s;
}

#saveButton:hover {
  background: #4f687c;
}


#bubble {
  opacity:0;
	position: relative;
  /* background: #607b91; */
  background: white;
  border-radius: .4em;
  width: 10em;
  padding: 1.2em 1.0em;
  margin: auto;
  margin-left:52%;
  /* line-height: 5em; */
  text-align:center;
  color: #607b91;
  font-family: Sans;
  font-size: 1.1em;
  font-weight: bold;
  border: 4px solid #607b91;
  transition: opacity 0.6s;
}

#bubble:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 20%;
	width: 0;
	height: 0;
	border: 1.219em solid transparent;
	border-top-color: #607b91;
	border-bottom: 0;
	border-left: 0;
	margin-left: -0.609em;
	margin-bottom: -1.219em;
}